{% extends "base.html" %}

{% block title %}Login | AirBook{% endblock %}

{% block content %}

<div class="login-page">

    <div class="login-container">

        <div class="logo">
            ✈ AIRBOOK
        </div>

        <h1>Welcome Back</h1>

        <p class="subtitle">
            Login to continue your journey
        </p>

        <form method="POST">

            <div class="input-group">
                <label>Email</label>
                <input
                    type="email"
                    name="email"
                    placeholder="Enter your email"
                    required>
            </div>

            <div class="input-group">
                <label>Password</label>
                <input
                    type="password"
                    name="password"
                    placeholder="Enter your password"
                    required>
            </div>
            <a href="{{ url_for('forgot_password') }}" class="forgot-password">
                Forgot Password?
            </a>
            <button type="submit" class="login-btn">
                LOGIN
            </button>

        </form>

        <div class="divider">
            <span>OR</span>
        </div>

        <p class="register-text">
            Don't have an account?
            <a href="{{ url_for('register') }}">Create Account</a>
            <a href="{{ url_for('admin.admin_login') }}" class="admin-login-link">
                ADMIN LOGIN →
            </a>
        </p>

    </div>

</div>

{% endblock %}